@media screen and (orientation : landscape) {
    .content{
        border: 1px solid transparent;
        border-radius: 20px;
        padding: 10px;
        background-color: chocolate;
        
    }
    
}
@media screen  and (orientation : portrait){
    .content{
        border: 1px solid transparent;
        border-radius: 20px;
        padding: 10px;
        background-color: chocolate;
    }
}
